/* Estilos por defecto del input */
.mi-input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.5s ease;
  /* Añade una transición suave al cambio de color del borde */
}

/* Estilos al pasar el mouse sobre el input */
.mi-input:hover {
  border-color: rgb(240, 213, 60);
  /* Cambia el color del borde a rojo */
  box-shadow: 0 0 10px rgb(59, 103, 249);
  /* Añade una sombra sutil */
}

/* Fondo azul oscuro personalizado para la plantilla */
.bg-azul-oscuro {
  background-color: #02116F;
  /* azul oscuro */
  color: #ffffff;
  /* texto blanco para contraste */
}