{% extends 'homebase.html' %}
{% block title %}Registro - Estudiante{% endblock %}
{% load static %}

{% block contenido %}
<div class="mt-4 p-3">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static '/img/4.jpg'%}" class="w-100 d-block" alt="First slide" />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static '/img/1.jpg'%}" class="w-100 d-block" alt="Second slide" />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static '/img/2.jpg'%}" class="w-100 d-block" alt="Third slide" />
            </div>
            <div class="carousel-item" data-bs-interval="000">
                <img src="{% static '/img/3.jpg'%}" class="w-100 d-block" alt="Third slide" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="p-4">
    <h2>Ganadores JUDC 2025</h2>
</div>
<div class="container">
    <div class="row p-3">
        <div class="col-12 col-md-4 p-3">
            <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                <img src="{% static '/img/3.jpg'%}" alt="...">
            </div>
            <div class="col-12 col-md-12 p-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, amet aspernatur commodi
                    tempora
                    ducimus labore corrupti quibusdam magnam id dolore ipsum rem unde repellat maxime reiciendis
                    vero
                    qui accusantium ipsam.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 p-3">
            <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                <img src="{% static '/img/3.jpg'%}" alt="...">
            </div>
            <div class="col-12 col-md-12 p-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, amet aspernatur commodi
                    tempora
                    ducimus labore corrupti quibusdam magnam id dolore ipsum rem unde repellat maxime reiciendis
                    vero
                    qui accusantium ipsam.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 p-3">
            <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                <img src="{% static '/img/3.jpg'%}" alt="...">
            </div>
            <div class="col-12 col-md-12 p-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, amet aspernatur commodi
                    tempora
                    ducimus labore corrupti quibusdam magnam id dolore ipsum rem unde repellat maxime reiciendis
                    vero
                    qui accusantium ipsam.</p>
            </div>
        </div>
    </div>

    

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <h1>Presentación de actividad central de Reconomientos</h1>
        </div>
        <div class="col-md-8 p-3">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/OztB0NCXk0w?si=K8ptau8BNligJ8c2" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}