{% extends 'baseusuario.html' %}
{%load static%}
{% block titulo %}Incripción{% endblock %}

{% block contenido %}
<div class="col-md-9 content-area p-3">
    <div class="alert bg-body-secondary text-center">
        <h3>Inscripción de JUDC</h3>
    </div>

    {% csrf_token %}
    <form class="needs-validation" action="#" method="post" novalidate>
        <fieldset class="border bg-body-secondary rounded-3 p-3 shadow ">
            <div class="col-md-12 mb-3 p-2 d-flex justify-content-end ">
                <a href="#">
                    <button class="btn btn-outline-success btn-lg" type="button">🔎 Buscar</button>
                </a>
            </div>
            <legend class="float-none w-auto px-3 text-primary-emphasis">Datos del estudiante:</legend>
            <div class="row ">
                <div class="col-6 col-md-4 mb-3 ">
                    <div class="form-floating">
                        <input type="text" class="form-control mi-input" id="carnet" name="carnet"
                            placeholder="12-34567-8" inputmode="numeric" pattern="\d{2}-\d{5}-\d"
                            title="Formato: 99-99999-9" maxlength="10" required autofocus>
                        <label for="carnet" class="form-label">Número de Carnet</label>
                        <div class="invalid-feedback">Formato inválido. Use 12-34567-8</div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder readonly>
                        <label for="nombre" class="form-label">Nombres</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder readonly
                            required>
                        <label for="nombre" class="form-label">Apellidos</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class=" form-floating">
                        <input type="email" class="form-control mi-input" name="email" id="email" placeholder readonly>
                        <label for="email" class="form-label">Correo electrónico:</label>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3 ">
                    <div class="form-floating">
                        <input type="text" class="form-control mi-input" id="orcid" name="orcidestudiante"
                            placeholder="0009-0004-8628-1583" inputmode="numeric" pattern="\d{4}-\d{4}-\d{4}-\d{4}"
                            title="Formato: 0000-0000-0000-0000" maxlength="19" required>
                        <label for="orcid" class="form-label">Número de ORCID</label>
                        <div class="invalid-feedback">Formato inválido. Use 0009-0004-8628-1583</div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3 ">
                    <div class="form-floating">
                        <input type="tel" class="form-control mi-input" id="telefono" name="telefono"
                            placeholder="9999-9999" pattern="\d{4}-\d{4}" title="Formato: 9999-9999" maxlength="9"
                            required>
                        <label for="telefono" class="form-label">Número de Teléfono</label>
                        <div class="invalid-feedback">Formato inválido. Use 9999-9999</div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <label for="carrera">Seleccionar la Carrera:</label>
                    <select name="carrera" id="carrera" class="form-select mi-input" aria-label="Small select example"
                        required>
                        <option selected disabled value="">Elegir...</option>
                        <option value="1">Ingenieria en Sistema</option>
                        <option value="2">Contaduria publica y finanzas</option>
                        <option value="3">Administración de empresas</option>
                    </select>
                    <div class="invalid-feedback">Seleccione una carrera.</div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <label for="tipoInvestigacion">Seleccionar el Tipo de Investigación:</label>
                    <select name="tipoInvestigacion" id="tipoInvestigacion" class="form-select mi-input"
                        aria-label="Small select example" required>
                        <option selected disabled value="">Elegir...</option>
                        <option value="1">Articulo Cientifico</option>
                        <option value="2">Informe final</option>
                        <option value="3">Trabajo de innovación cientifica</option>
                    </select>
                    <div class="invalid-feedback">Seleccione un tipo de investigación.</div>
                </div>
            </div>
        </fieldset>

        <h3 class="p-3" style="text-shadow: 2px 2px 4px gray;">Autores:</h3>
        <!-- Tabla de Autores -->
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-header">
                        <h5 class="card-title">Autor </h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">N°. Carnet</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Tabla de Autores seleccionados -->
            <div class="col-md-6 mb-3">
                <div class="card shadow">
                    <div class="card-header">
                        <h5 class="card-title">Autores participantes</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">N°. Carnet</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <fieldset class="border bg-body-secondary rounded-3 p-3 shadow ">
            <legend class="float-none w-auto px-3 text-primary-emphasis">Origen - investigación:</legend>
            <div class="row">
                <div class="col-6 col-md-4 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control mi-input" id="nombre" name="nombre"
                            placeholder="Ingrese solo letras" pattern="[A-Za-záéíóúñÁÉÍÓÚÑ\s]+"
                            title="Solo se permiten letras y espacios" required>
                        <label for="nombre" class="form-label">Nombre completo del Tutor</label>
                        <div class="invalid-feedback">Solo se permiten letras y espacios</div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3 ">
                    <div class="form-floating">
                        <input type="text" class="form-control mi-input" id="orcidt" name="orcidtutor"
                            placeholder="0009-0004-8628-1583" inputmode="numeric" pattern="\d{4}-\d{4}-\d{4}-\d{4}"
                            title="Formato: 0000-0000-0000-0000" maxlength="19" required>
                        <label for="orcid" class="form-label">Número de ORCID del Tutor</label>
                        <div class="invalid-feedback">Formato inválido. Use 0009-0004-8628-1583</div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <label for="fechaInscripcion" class="form-label">Fecha de inscripción:</label>
                    <input type="date" class="form-control mi-input" id="fechaInscripcion" name="fechaInscripcion"
                        required>
                    <div class="invalid-feedback">Seleccione una fecha válida.</div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <label for="fileJudc" class="form-label">Agregar el archivo</label>
                    <input class="form-control mi-input" type="file" id="fileJudc" name="fileJudc" required>
                    <div class="invalid-feedback">Seleccione un archivo válido.</div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <textarea class="form-control mi-input" placeholder="Ingrese la descripción de la investigación"
                            id="descripcion" style="height: 100px" name="descripcion" required></textarea>
                        <label for="descripcion">Descripción:</label>
                        <div class="invalid-feedback">Ingrese una descripción.</div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="col-md-12 mt-3 p-3 justify-content-end text-center">
            <button type="submit" class="btn btn-outline-success btn-lg">💾 Guardar</button>
        </div>
    </form>
</div>
<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
{% endblock %}