{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block titulo %} {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">

    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        {% block contenido %} {% endblock %}
    </main>
    <footer>
        <!-- place footer here -->
        <div class="container">
            <div class="text-center bg-success p-2 text-success bg-opacity-25 p-3 mt-4">
                © 2025 Copyright:
                <a class="text-success" href="#">JUDC.com</a>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>

</body>

</html>