{% load static %}
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="#" class="logo">
                <img src="{% static 'assets/img/kaiadmin/logo_light1.png' %}" alt="navbar brand" class="navbar-brand"
                    height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <!-- Menu Sidebar -->
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon ">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Componentes</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#reg">
                        <i class="fas fa-layer-group"></i>
                        <p>Registros</p>
                        <span class="caret" style="color: #fff"></span>
                    </a>
                    <div class="collapse" id="reg">
                        <ul class="nav nav-collapse">
                            <li><a href="{% url 'docente' %}"><span class="sub-item">Docentes</span></a></li>
                            <li><a href="{% url 'estudiante' %}"><span class="sub-item">Estudiantes</span></a></li>
                            <li><a href="{% url 'carrera' %}"><span class="sub-item">Carreras</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#eval">
                        <i class="bi bi-file-earmark-bar-graph-fill"></i>
                        <p>Evaluaciones</p>
                        <span class="caret" style="color: #fff"></span>
                    </a>
                    <div class="collapse" id="eval">
                        <ul class="nav nav-collapse">
                            <li><a href="{% url 'articuloCientifico' %}"><span class="sub-item">Artículos
                                        Científicos</span></a></li>
                            <li><a href="#"><span class="sub-item">Informe de Investigación</span></a></li>
                            <li><a href="{% url 'proyectoInnovacion' %}"><span class="sub-item">Proyecto de
                                        Innovación</span></a></li>
                            <li><a href="#"><span class="sub-item">Informe de SINACAM</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item"><a href="{% url 'inscripcion' %}"><i class="bi bi-clipboard-check-fill"></i>
                        <p>Incripciones</p>
                    </a>
                </li>
                <li class="nav-item"><a href="#"><i class="bi bi-person-fill"></i>
                        <p>Perfil</p>
                    </a>
                </li>
                <li class="nav-item"><a class="confirm-logout" href="{% url 'salir' %}" data-title="Cerrar sesión"
                        data-text="¿Deseas cerrar sesión?" data-confirm="Sí, salir" data-cancel="No, cancelar"><i
                            class="bi bi-box-arrow-right"></i>
                        <p>Salir</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>