{% extends 'baseadmin.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<div class="col-md-12">

    <div class="alert bg-primary-subtle text-center">
        <h2 style="text-shadow: 2px 2px 5px gray;">Jornada de Desarrollo Cientifico - JUDC </h2>
    </div>
    <h3 style="text-shadow: 2px 2px 5px gray;">Estadisticas:</h3>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Contenido de para la primera tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Docentes</h5>
                    <p class="card-text">Contenido de ejemplo para la segunda tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Trabajos</h5>
                    <p class="card-text">Contenido de ejemplo para la tercera tarjeta.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mb-3">
    <div class="alert bg-primary-subtle text-center">
        <h3 style="text-shadow: 2px 2px 5px gray;">Gestion de trabajos participantes - JUDC</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center shadow">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Titulo del Trabajo</th>
                    <th scope="col">Autor(es)</th>
                    <th scope="col">Docente Asesor</th>
                    <th scope="col">Area de Conocimiento</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Estudio de Algoritmos</td>
                    <td>Juan Perez, Maria Lopez</td>
                    <td>Dr. Carlos Ruiz</td>
                    <td>Ciencias de la Computacion</td>
                    <td>
                        <button class="btn btn-primary btn-sm"><a href="#"></a>
                            <i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger btn-sm"><a href="#"></a>
                            <i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}