{% extends 'baseusuario.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<div class="col-md-9 content-area p-4">

    <div class="alert alert-info text-center">
        <h3 style="text-shadow: 2px 2px 5px gray;">Jornada de Desarrollo Cientifico - JUDC </h3>
    </div>
    <h2 style="text-shadow: 2px 2px 4px gray;">Estadisticas:</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Contenido de para la primera tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Docentes</h5>
                    <p class="card-text">Contenido de ejemplo para la segunda tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Trabajos</h5>
                    <p class="card-text">Contenido de ejemplo para la tercera tarjeta.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}