{% extends 'baseadmin.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
{% if user.is_superuser %}
<div class="col-md-12">
    <div class="alert bg-primary-subtle text-center text-body">
        <h2 style="text-shadow: 2px 2px 5px gray;">Jornada de Desarrollo Cientifico - JUDC </h2>
    </div>
    <div class="text-body">
        <h3 style="text-shadow: 2px 2px 5px gray; ">Estadisticas:</h3>
    </div>

    <!-- Tarjetas de estadísticas -->
    <div class="row mb-4">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-start border-primary border-4 shadow card-hover">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                                Estudiantes
                            </div>
                            <div class="h5 mb-0 fw-bold">$45,382</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success me-2">
                                    <i class="bi bi-arrow-up me-1"></i>12%
                                </span>
                                <!--  <span>Desde el último mes</span> -->
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-people text-primary fs-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-start border-success border-4 shadow card-hover">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-xs fw-bold text-success text-uppercase mb-1">
                                Docentes
                            </div>
                            <div class="h5 mb-0 fw-bold">2,356</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success me-2">
                                    <i class="bi bi-arrow-up me-1"></i>23%
                                </span>
                                <span>Desde la semana pasada</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-people text-success fs-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-start border-warning border-4 shadow card-hover">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-xs fw-bold text-warning text-uppercase mb-1">
                                Trabajos participantes
                            </div>
                            <div class="h5 mb-0 fw-bold">18</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-danger me-2">
                                    <i class="bi bi-arrow-down me-1"></i>5%
                                </span>
                                <span>Desde ayer</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-list-task text-warning fs-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-start border-info border-4 shadow card-hover">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="text-xs fw-bold text-info text-uppercase mb-1">
                                Rendimiento
                            </div>
                            <div class="h5 mb-0 fw-bold">94.2%</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success me-2">
                                    <i class="bi bi-arrow-up me-1"></i>2.4%
                                </span>
                                <span>Desde el último trimestre</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-graph-up text-info fs-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-body">Estudiantes</h5>
                    <p class="card-text">Contenido de para la primera tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-body">Docentes</h5>
                    <p class="card-text">Contenido de ejemplo para la segunda tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-body">Trabajos</h5>
                    <p class="card-text">Contenido de ejemplo para la tercera tarjeta.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mb-3">
    <div class="alert bg-primary-subtle text-center text-body">
        <h3 style="text-shadow: 2px 2px 5px gray;">Gestion de trabajos participantes - JUDC</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center shadow">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Titulo del Trabajo</th>
                    <th scope="col">Autor(es)</th>
                    <th scope="col">Docente Asesor</th>
                    <th scope="col">Area de Conocimiento</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Estudio de Algoritmos</td>
                    <td>Juan Perez, Maria Lopez</td>
                    <td>Dr. Carlos Ruiz</td>
                    <td>Ciencias de la Computacion</td>
                    <td>
                        <button class="btn btn-primary btn-sm"><a href="#"></a>
                            <i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger btn-sm"><a href="#"></a>
                            <i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<!-- Mensajes de alerta -->
{% if messages %}
{% for message in messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        Toast.fire({
            icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% else %}info{% endif %}',
            title: '{{ message|escapejs }}'
        });
    });
</script>
{% endfor %}
{% endif %}
<!-- Fin Mensajes de alerta -->

{% endblock %}