{% extends 'base.html' %}
{% block titulo %}Registro JUDC{% endblock %}
{% load static %}
{% block contenido %}
<div class="row container m-0 justify-content-center align-items-center">
    <div class="col-md-6 orden-md-2">
        <div class="">
            <img src="{% static 'img/registro.png' %}" width="100%" alt="logo">
        </div>
    </div>
    <div class="row col-md-6 p-2 orden-md-1">
        <div class="card text-start shadow rounded-4 bg-primary-subtle">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Registro de Usuarios</h5>
                <form class="row" action="" method="post">
                    <!--  {% csrf_token %} -->
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control mi-input" id="carnet" name="carnet"
                                placeholder="Número de Carnet" required autofocus>
                            <label for="carnet" class="form-label">Número de Carnet</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control mi-input" id="nombre" name="nombre"
                                placeholder="Nombres" required>
                            <label for="nombre" class="form-label">Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control mi-input" id="apellidos" name="apellidos"
                                placeholder="Apellidos" required>
                            <label for="apellidos" class="form-label">Apellidos</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control mi-input" id="email" name="email"
                                placeholder="Correo Electrónico" required>
                            <label for="email" class="form-label">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control mi-input" id="password1" name="password"
                                placeholder="Contraseña" required>
                            <label for="password" class="form-label">Contraseña</label>
                            <span class="position-absolute top-50 end-0 translate-middle-y me-3" style="cursor:pointer;"
                                onclick="topass1()">
                                <i class="bi bi-eye-slash-fill" id="topass1" style="color:green; font-size:1.3rem;"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control mi-input" id="passwordf" name="passwordf"
                                placeholder="Confirmar contraseña" required>
                            <label for="password" class="form-label">Confirmar contraseña</label>
                            <span class="position-absolute top-50 end-0 translate-middle-y me-3" style="cursor:pointer;"
                                onclick="topass2()">
                                <i class="bi bi-eye-slash-fill" id="topass2" style="color:green; font-size:1.3rem;"></i>
                            </span>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
                <div>
                    <p class="text-center m-3">¿Tiene una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}